@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.rightPagination {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.breadcrumbBox {
  margin-bottom: 10px;
}
.addBtn {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  // align-items: flex-end;
  div {
    flex: 2;
  }
  .btnBox {
    margin-left: 10px;
  }
}
.settingBox {
  .clearfix();
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  margin-top: 4px;
  span {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
  }
}
.fr {
  float: right;
}
.bt10 {
  margin-bottom: 10px;
}
