.add_yuyin{width:100px;cursor: pointer;}
.luzhiyy{position:relative;font-size:.3*73.4375px ;color:#666}
.luzhiyy::after{position:absolute;right:.25*73.4375px ;top:.28*73.4375px ;width:22px;height:22px;content:"";background:url("./images/icon.png") no-repeat -5.78*73.4375px  -3.59*73.4375px ;background-size:14.57*73.4375px  4.86*73.4375px ;}
.luzhiyy s{display: inline-block;width:35px;height:35px;background:url("./images/icon.png") no-repeat -5.59*73.4375px -2.86*73.4375px ;background-size:14.57*73.4375px  4.86*73.4375px ;vertical-align: middle;margin-right:.24*73.4375px ;}
.tijaobtn{width:90%;height:.8*73.4375px ;background-color:#f16461;text-align: center;line-height: .8*73.4375px ;color:#fff;margin:0*73.4375px  auto;display: block;border-radius: 6px;font-size:.3*73.4375px ;}
.tijaobtn[disabled]{background-color:#f4cac9;}
.add_yuyin .r_yuyin{width:90px;color:#999999;height:44px;line-height:44px;padding:0 .2*73.4375px ;background-color:#fff3ea;border:1px solid #ffe0c9;border-radius: 6px;position: relative;float:left;}
.add_yuyin .r_yuyin s{
  width:29px;height:29px;position:absolute;right:.2*73.4375px ;top:.09*73.4375px ;background:url("./images/icon.png") no-repeat -7.11*73.4375px  -3.62*73.4375px ;background-size:14.57*73.4375px  4.86*73.4375px ;
  &.bofang {
    background: url(./images/yuyin.png) no-repeat -.14*73.4375px -.07*73.4375px;
    -webkit-animation: bofang 1s steps(1) infinite;
    background-size: 1.9*73.4375px .49*73.4375px
  }
}
@keyframes bofang{
  25% {
     background-position:-.14*73.4375px -.07*73.4375px;
  }
  50% {
     background-position:-.63*73.4375px -.07*73.4375px;
  }
  75% {
     background-position:-1.08*73.4375px -.07*73.4375px;
  }
  100% {
     background-position:-1.49*73.4375px -.07*73.4375px;
  } 
}