.table_list{
  border: 1px solid #ccc;
  background: #fff;
  width:100%;
  box-sizing: border-box;
  margin-top:8px;
  border-radius: 3px;
  ul{
    padding:0;
    margin:0;
    li{
      background:#fff;
      padding: 10px;
      width:100%;
      box-sizing: border-box;
      border-bottom: 1px dashed #ccc;
      cursor: pointer;
      position: relative;
      &:last-child{
        border-bottom:0;
      }
      &:hover{
        background: #F9F9F9;
        &::before{
          content: '';
          width:100%;
          left:0;
          top:0;
          height:1px;
          background:none;
          box-shadow: 0 -3px 3px #C1C1C1;
          position: absolute;
          z-index: 1
        }
        &::after{
          content: '';
          width:100%;
          left:0;
          bottom:0;
          height:1px;
          background:none;
          box-shadow: 0 3px 3px #C1C1C1;
          position: absolute;
          z-index: 1
        }
       
      }
      &.unfold{
        background: #F9F9F9;
        &::before{
          content: '';
          width:100%;
          left:0;
          top:0;
          height:1px;
          background:none;
          box-shadow: 0 -3px 3px #C1C1C1;
          position: absolute;
          z-index: 1
        }
        &::after{
          content: '';
          width:100%;
          left:0;
          bottom:0;
          height:1px;
          background:none;
          box-shadow: 0 3px 3px #C1C1C1;
          position: absolute;
          z-index: 1
        }
      }
      .detail_{
        width:100%;
        box-sizing: border-box;

      }
      .wrap_{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        box-sizing: border-box;
        .wrap_box{
          // overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          height:100px;
          &.des_{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
          }
          &::before{
            content: '';
            width:1px;
            height:60px;
            right:0;
            top:50%;
            transform: translate3d(0,-50%,0);
            background:#ededed;
            position: absolute;
            z-index: 1
          }
          &.image_box{
            width:150px;
            height:100px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .image_{
              width:auto;
              height:100px;
              position: relative;
              &.act{
                &::before{
                  content: 'Mine';
                  padding: 2px 4px;
                  right: -15px;
                  top: -5px;
                  /* transform: translate3d(0, -50%, 0); */
                  background: #52C41A;
                  position: absolute;
                  z-index: 1;
                  color: #fff;
                  border-radius: 3px;
                  line-height:14px;
                }
              }
              .image{
                width:auto;
                height:100px;
              }
            }
          }
          &.flex_box{
            flex:1;
            position: relative;
            height:100px;
            // &::before{
            //   content: '';
            //   width:1px;
            //   height:60px;
            //   right:0;
            //   top:50%;
            //   transform: translate3d(0,-50%,0);
            //   background:#ededed;
            //   position: absolute;
            //   z-index: 10
            // }
            &:last-child{
              &::before{
                content: '';
                width:0;
                height:0;
                right:0;
                top:50%;
                transform: translate3d(0,-50%,0);
                background:#ededed;
                position: absolute;
                z-index: 1
              }
            }
          }
          
          
          .icon_box{
            width:30px;
            height:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background: #FFFFFF;
            box-sizing: border-box;
            outline: none;
            border-radius: 3px;
            border:1px solid #C1C1C1;
           
            &:hover{
              border:1px solid #52C41A;
              color:#52C41A;
            }
          }
        }
        
      }
    }
  }
}